<html>
<head>
    <title>{{head_title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles/mainStyle.css">
    <script src="js/axios.min.js"></script>
    <script src="js/axios.min.js.map"></script>