{{>layout/header}}
<script src="/javascript/mypage/mypage.js"></script>
</head>

<body>
{{>layout/navi}}

    <h1>회원비밀번호 페이지</h1>
    <input id="pwInput" type="password"/>
    <button id="pwButton">확인버튼</button>
    <span id="mypage_failureSpan"></span>

{{>layout/footer}}