{{>layout/header}}

</head>

<body>
{{>layout/navi}}
    <span>{{user_info.id}}님 환영합니다.</span>
    <span>{{user_info.name}}</span>
    <span>{{user_info.birth}}</span>
    <span>{{user_info.c_dt}}</span>
{{>layout/footer}}