{{>layout/header}}
    <script src="/javascript/mypage/mypage.js"></script>
</head>

<body>
{{>layout/navi}}
    <span>{{user_info.id}}님 환영합니다.</span>
    <span>{{user_info.name}}</span>
    <span>{{user_info.birth}}</span>
    <span>{{user_info.c_dt}}</span>
    <span>{{session_username}}</span>

    <button type="button" id="mypage_delete">회원삭제</button>
{{>layout/footer}}