{{>layout/header}}
<link rel="stylesheet" href="/css/mypage/mypageStyle.css">
<script src="/javascript/mypage/profile.js"></script>
</head>

<body>
{{>layout/navi}}

<div id="mypage_container">

    <div>
        <input id="profile_imgInput" type="file" onchange="readURL(this);">
        <img id="profile_preview">
    </div>

</div>

{{>layout/footer}}