{{>layout/header}}
<script src="/javascript/mypage/mypage.js"></script>
<link rel="stylesheet" href="/css/mypage/mypageStyle.css">
</head>

<body>
{{>layout/navi}}

<div id="mypage_container">
    <aside>
        {{>content/mypage/aside}}
    </aside>
    <section>
        {{>content/mypage/section}}
    </section>

</div>

{{>layout/footer}}