{{>layout/header}}
<link rel="stylesheet" href="/css/payment/PaymentCancle.css">
</head>
<body>
{{>layout/navi}}
<div id="cancle">
    <hr>
    <div id="content">
        진행 중인 주문이 취소되었습니다!!
    </div>
    <hr>
    <img src="/image/cancelled.png">
</div>
{{>layout/footer}}