{{>layout/header}}
    <link rel="stylesheet" href="/css/payment/pay_detailStyle.css">
    <script src="/javascript/payment/pay_detail.js"></script>
</head>

<body>
{{>layout/navi}}
<div id="pay_detail_container">
    <p id="pay_detail_head">구매 정보</p>
    <table>
        <thead>
            <th>구매 상세내역</th>
            <th>가격</th>
            <th>PT횟수</th>
            <th>사용기한(일)</th>
            <th>구매일자</th>
        </thead>
        <tbody>
            <tr>
                <td><span id="pay_detail_ptTitle">{{product.ptTitle}}</span></td>
                <td><span id="pay_detail_price1">{{product.ptPrice}}</span></td>
                <td><span>{{product.ptTimes}}</span></td>
                <td><span>{{product.ptPeriod}}</span></td>
                <td><span>{{payment.c_dt}}</span></td>
            </tr>
        </tbody>
    </table>

    <p>결제 정보</p>
    <table>
        <tr>
            <td>거래 번호</td>
            <td><span id="pay_detail_tid">{{apiResponse.tid}}</span></td>
        </tr>
        <tr>
            <td>주문 금액</td>
            <td><span id="pay_detail_price2">{{product.ptPrice}}</span></td>
        </tr>
        <tr>
            <td>결제 상태</td>
            <td><span id="pay_detail_refundStatus">{{apiResponse.status}}</span></td>
        </tr>
        <tr>
            <td>결제 방식</td>
            <td><span id="pay_detail_paymentMethod">{{apiResponse.payment_method_type}}</span></td>
        </tr>
        <tr>
            <td>결제 승인일자</td>
            <td>{{apiResponse.approved_at}}</td>
        </tr>
    </table>

    <p>트레이너 정보</p>
    <table>
        <tr>
            {{trainer.userName}}
            {{trainer.gym}}
            {{trainer.expert1}}
            {{trainer.expert2}}
            {{trainer.imagePath}}
            {{trainer.gender}}
        </tr>
    </table>

    <div>
        <button id="pay_detail_repayButton">다시 구매</button>
        <button id="pay_detail_reviewButton">리뷰 작성</button>
        <button id="pay_detail_refundButton">환불 요청</button>
    </div>
</div>
{{>layout/footer}}