{{>layout/header}}
<link rel="stylesheet" href="/css/payment/modal.css">
</head>
<body>
<div id="modal_navi">
    작심득근
</div>
<div id="title">
    <hr>
    <div id="content">
        진행 중인 주문이 취소되었습니다!!
    </div>
    <hr>
    <img src="/image/canceled.png">
</div>
{{>layout/footer}}