aside{
    float:left;
    min-height: 100%;
    width: 30%;
    border-left: 0.0625 solid #f2f2f2;
    border-right: 0.0625px solid #f2f2f2;

    box-shadow: 5px 0px 10px #d0d0d0;
    }

section{
    float: right;
    height:95%;
    width: 70%;
}

#mypage_aside_profileImgContainer{
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    padding: 5%;

    position: relative;
    display: inline-block;
}

#mypage_aside_profileImg{
    width: 150px;
    height: 150px;

    object-fit: cover;

    border: 0.15rem solid #C8B0FC;
    border-radius: 50%;
    margin-top: 40px;
}

#mypage_aside_profileImgContainer button{
    position: absolute;
    bottom: 20px;
    right: 90px;

    width:50px;
    height:50px;

    background-color: #C8B0FC;
    color: #ffffff;

    border: 2px solid #C8B0FC;
    border-radius: 50%;

    font-size: 25px;
}

#mypage_aside_profileImgContainer button:active,
#mypage_aside_profileImgContainer button:hover,
#mypage_aside_profileImgContainer button:disabled{
    color: #BFBFBF;
    background: #E9E1FB;
    border: 2px solid #E9E1FB;
}


#mypage_aside_username, #mypage_aside_email, #mypage_aside_loginspan{
    text-align: center;
}

#mypage_aside_banner{
    margin: 2.5rem 1rem 2.5rem 1rem;
    padding: 10px;
    border: 2px solid #C8B0FC;
    border-radius: 5px;
    background-color: #FFFFFF;

    text-align: center;
}

#mypage_aside_banner > span{
    color: #C8B0FC;
    font-weight: bold;
}

#mypage_aside_nav > ul > li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 1rem;
}

#mypage_aside_nav > ul > li > a{
    text-decoration-line: none;
}

.mypage_container{
    margin: 0rem 3rem;
}

.mypage_title{
    font-weight: bold;
    color: #777777;
}

.mypage_table_tableHead{
    background-color: #C8B0FC;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    padding: 5px;
    margin-top: 30px;
}

.mypage_table_tableHead > a{
   color:white;
   text-decoration-line: none;
   font-weight:bold;
   font-size: 1.3rem;
}

.mypage_table_row{
    padding: 0.5rem;
    border: 0.0625rem solid #f2f2f2;
    border-top: none;


    display:flex;
    align-items: center;
}
.mypage_table_row > span, .mypage_table_row > input{
    margin-right: auto;
}

#profile_preview{
    width:150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.15rem solid #C8B0FC;
}

.profile_input{
    border: none;
}

@keyframes slideIn{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.hidden{
    display:none;
}

.inbody_create_input{
    width: 80px;
}
