/*@font-face {
  font-family: 'Noto Sans KR';
  src: url('/path/to/noto-sans-kr.woff2') format('woff2'),
       url('/path/to/noto-sans-kr.woff') format('woff'),
       url('/path/to/noto-sans-kr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans KR', sans-serif;
}*/

#trainer_Detail_Container {
    margin-top: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

#trainer-info {
    display: flex;
    align-items: center;
  }
  #trainer-info img {
    margin-right: 20px;
  }
  #trainer-info table {
    border-collapse: collapse;
    font-size: 16px;
  }

  #trainer_name input[type="text"] {
    border: none;
    width: 500px;
  }


  #trainer_gym input[type="text"] {
      border: none;
      width: 500px;
  }

  #trainer_insta input[type="text"] {
         border: none;
         width: 500px;
  }

  #trainer-cert {
      margin-left: 10px;
    }
   #trainer-intro{
        margin-left: 10px;
      }
    #trainer-career {
         margin-left: 10px;
       }

 #pt-info {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 25px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;

  }

  #pt-info span {
    margin-right: 10px; /* Adjust the value as needed */
    font-size: 15px;
    margin-left: 15px;
  }
  #payButton{
    justify-content: flex-end;
    float: right;
    background-color: #A584EE;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 665px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }


#reviews {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.review {
  background-color: #E9E1FB;
  border: 2px solid #E9E1FB;
  border-radius: 10px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.review-filters {
/*
  display: flex;
  justify-content: flex-end;
  */
  margin-bottom: 10px;
  margin-left: 50px;
  width: 150px;
}

.review-filters select {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  border: black;
  background-color: #FFFFFF;
  color: black;
}


.review-idx {
  font-size: 15px;
  font-weight: bold;
}

.star-container {
  display: flex;
  align-items: center;
}

.review-star {
  font-size: 15px;
}

.review-content {
  margin-top: 10px;
  font-size: 14px;
}

#review-button button {
  background-color: #E9E1FB;
  border: none;
  text-decoration: underline;

}


