@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

#modal_navi {
    height: 56px;
    padding: 13px 16px;
    background-color: #F6F6F6;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #C8B0FC;
}

#title {
    margin-top: 80px;
}

#content {
    text-align : center;

    font-family: 'Noto Sans KR', sans-serif;
    color: #C8B0FC;
    font-size: x-large;
    font-weight: bold;
}

hr {
    color: #E9E1FB;
    border-width: 20px;
}

img {
    width: 60%;
    margin: 30px 20%;
    opacity: 30%;
}