<div class="mypage_container">
    <div class="mypage_table_div">
        <div class="mypage_table_tableHead">
            <a href="#"><span>내 프로필</span></a>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.name}}</span>
            <button>변경</button>
        </div>
        <div class="mypage_table_row">
             <span>{{user_info.tel}}</span>
            <button>변경</button>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.email}}</span>
            <button>변경</button>
        </div>
    </div>

    <div class="mypage_table_div">
        <div class="mypage_table_tableHead">
            <a href="#"><span>보안설정</span></a>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.name}}</span>
            <button>변경</button>
        </div>
        <div class="mypage_table_row">
             <span>{{user_info.tel}}</span>
            <button>변경</button>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.email}}</span>
            <button>변경</button>
        </div>
    </div>

    <div class="mypage_table_div">
        <div class="mypage_table_tableHead">
            <a href="#"><span>이력관리</span></a>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.name}}</span>
            <button>확인</button>
        </div>
        <div class="mypage_table_row">
             <span>{{user_info.tel}}</span>
            <button>확인</button>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.email}}</span>
            <button>확인</button>
        </div>
    </div>

</div>


<button type="button" id="mypage_delete">회원삭제</button>