<div class="mypage_container" style="background-">
    <div class="mypage_table_div">
        <div class="mypage_table_tableHead">
            <a href="/mypage/{{user_info.id}}/profile"><span>내 프로필</span></a>
        </div>
        <div class="mypage_table_row  jaksim_font">
            <input id="profile_name_input" type="text" value="{{user_info.name}}" class="jaksim_font profile_input" readonly>
            <button class="jaksim_btn" id="profile_name_change">수정</button>
        </div>
        <div class="mypage_table_row  jaksim_font">
            <input id="profile_tel_input" type="text" value="{{user_info.tel}}" class="jaksim_font profile_input" readonly>
            <button class="jaksim_btn" id="profile_tel_change">수정</button>
        </div>
        <div class="mypage_table_row  jaksim_font">
            <span>{{user_info.email}}</span>
            <button class="jaksim_btn" onclick="window.location.href='/mypage/{{user_info.id}}/profile'">인증 및 수정</button>
        </div>
    </div>

    <div class="mypage_table_div">
        <div class="mypage_table_tableHead">
            <a href="#"><span>보안설정</span></a>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.name}}</span>
            <button>확인</button>
        </div>
        <div class="mypage_table_row">
             <span>{{user_info.tel}}</span>
            <button>변경</button>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.email}}</span>
            <button>삭ㅋ젴</button>
        </div>
    </div>

    <div class="mypage_table_div">
        <div class="mypage_table_tableHead">
            <a href="#"><span>이력관리</span></a>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.name}}</span>
            <button>확인</button>
        </div>
        <div class="mypage_table_row">
             <span>{{user_info.tel}}</span>
            <button>확인</button>
        </div>
        <div class="mypage_table_row">
            <span>{{user_info.email}}</span>
            <button>확인</button>
        </div>
    </div>

</div>


<button type="button" id="mypage_delete">회원삭제</button>