{{>layout/header}}
    <link rel="stylesheet" href="/css/administrator/adminStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="/javascript/administrator/main/mainAction.js"></script>
    <script src="/javascript/administrator/main/linearChart.js"></script>
    <script src="/javascript/administrator/main/areaChart.js"></script>
</head>

<body>
{{>content/administrator/layout/man_navi}}

<div class="container">
    <aside class="man_aside">

        <div id="man_main_aside_login" class="rounded">
            <div id="man_main_aside_loginHeader">
                <span>금일 유저 로그인 횟수</span>
            </div>
            <div id="man_main_aside_loginContent">
                <div>
                    <p id="man_main_aside_loginUsers">0,000</p>
                    <p style="color: white; font-size: 24px;">Users</p>
                </div>
            </div>
        </div>

        <table id="man_main_aside_userInfoContainer">
            <tr>
                <td class="man_main_aside_userInfo rounded" style="background-color:#82cea8;">
                    <span>어제 회원가입 수</span>
                    <span>0,000</span>
                </td>
                <td class="man_main_aside_userInfo rounded" style="background-color:#db7c65;">
                    <span>어제 전체 로그인 수</span>
                    <span>0,000</span>
                </td>
            </tr>
            <tr>
                <td class="man_main_aside_userInfo rounded" style="background-color:#688bd0;">
                    <span>어제 트레이너 등록 수</span>
                    <span>0,000</span>
                </td>
                <td class="man_main_aside_userInfo rounded" style="background-color:#d8a849;">
                    <span>어제 프로필 등록 수</span>
                    <span>0,000</span>
                </td>
            </tr>
        </table>

    </aside>

    <section class="man_section">
        <div>
            <canvas id="man_main_linearChart" style="height: 300px;"></canvas>
        </div>
        <div>
            <canvas id="man_main_areaChart" style="height: 320px;"></canvas>
        </div>
    </section>
</div>

{{>layout/footer}}