.account_input{
    border: 1px black solid;
    border-radius: 5px;
}

.account_button{
    color:white;
    background-color: #8753F6;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.account_button:hover, .account_button:active{
    background-color: #a379ff;
}