.input_container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.account_input{
    border: none;
    border-bottom: 1px solid black;

    padding:3px;
    margin: 0.3rem;

    width: 83%;
}
.account_input:focus{
    outline: none;
}
.account_span{
    font-weight: bold;
    margin-right: 1rem;
    color: #777777;
}
.account_button{
    color:white;
    background-color: #8753F6;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.account_button:hover, .account_button:active, .account_button:disabled{
    background-color: #a379ff;
    color: #b7b7b7;
}
.account_container{
    width: 70%;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 10px;
    padding:3rem
}
.account_banner{
    margin: 3rem auto;
    width: 25%;
    background-color: #8753F6;
}

#account_confirm_id, #account_confirm_pw, #account_confirm_tel{
    position: relative;
}
