<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8"/>
<script src="https://kit.fontawesome.com/05995ac069.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="/javascript/trainer/trainerSearch.js"></script>
    <link rel="stylesheet" href="/css/trainer/addressModal.css">
</head>
<body>
    <style>
        html,body{
            font-size: 5px;
        }

    </style>

    <script>

        function getAddr(){
            // 적용예 (api 호출 전에 검색어 체크)
            if (!checkSearchedWord(document.form.keyword)) {
                return ;
            }

            $.ajax({
                url :"https://business.juso.go.kr/addrlink/addrLinkApiJsonp.do",
                type:"post",
                data:$("#form").serialize(),
                dataType:"jsonp",
                crossDomain:true,
                success:function(jsonStr){

                    console.log(jsonStr)
                    $("#list").html("");
                    var errCode = jsonStr.results.common.errorCode;
                    var errDesc = jsonStr.results.common.errorMessage;
                    if(errCode != "0"){
                        alert(errCode+"="+errDesc);
                    }else{
                        if(jsonStr != null){
                            makeListJson(jsonStr);
                        }
                    }
                }
                ,error: function(xhr,status, error){
                    alert("에러발생");
                }
            });
        }

        function makeListJson(jsonStr){
            var htmlStr = "";
            htmlStr += "<table onclick='send()'>";
            $(jsonStr.results.juso).each(function(){
                htmlStr += "<tr>";
                htmlStr += "<td id='"+this.roadAddr+"' onclick='sendData(this.id)'>"+this.roadAddr+"</td>";
                htmlStr += "</tr>";
            });
            htmlStr += "</table>";
            $("#list").html(htmlStr);
        }

        //특수문자, 특정문자열(sql예약어의 앞뒤공백포함) 제거
        function checkSearchedWord(obj){
            if(obj.value.length >0){
                //특수문자 제거
                var expText = /[%=><]/ ;
                if(expText.test(obj.value) == true){
                    alert("특수문자를 입력 할수 없습니다.") ;
                    obj.value = obj.value.split(expText).join("");
                    return false;
                }

                //특정문자열(sql예약어의 앞뒤공백포함) 제거
                var sqlArray = new Array(
                    //sql 예약어
                    "OR", "SELECT", "INSERT", "DELETE", "UPDATE", "CREATE", "DROP", "EXEC",
                    "UNION",  "FETCH", "DECLARE", "TRUNCATE"
                );

                var regex;
                for(var i=0; i<sqlArray.length; i++){
                    regex = new RegExp( sqlArray[i] ,"gi") ;

                    if (regex.test(obj.value) ) {
                        alert("\"" + sqlArray[i]+"\"와(과) 같은 특정문자로 검색할 수 없습니다.");
                        obj.value =obj.value.replace(regex, "");
                        return false;
                    }
                }
            }
            return true ;
        }

        function enterSearch() {
            var evt_code = (window.netscape) ? ev.which : event.keyCode;
            if (evt_code == 13) {
                event.keyCode = 0;
                getAddr(); //jsonp사용시 enter검색
            }
        }

        function sendData(id) {
            const selectedAddress = id;
            window.opener.document.getElementById("input-address").value = id;
            window.opener.updateTrainerList(selectedAddress);

            window.opener.postMessage({
                type: 'updateAddress',
                address: selectedAddress
                }, '*');

            window.close();
        }


        
    </script>

<input hidden="hidden" id="addressInput" type="text" />

<form name="form" id="form" method="post">
    <div id="search-container">
        <input hidden="hidden" type="text" name="currentPage" value="1"/>
        <input hidden="hidden" type="text" name="countPerPage" value="10"/><!— 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) —>
        <input hidden="hidden" type="text" name="resultType" value="json"/>
        <input hidden="hidden" type="text" name="confmKey" value="U01TX0FVVEgyMDIzMDUwMjIwNTEyMTExMzczOTg=" />
        <input class="searchAddress jaksim_font" type="text" name="keyword" value="" onkeydown="enterSearch();"/><!— 요청 변수 설정 (키워드) —>
        <input type="button" class="jaksim_font" onClick="getAddr();" value="주소 검색"/></div>

    <div id="list" ></div>
</form>
</body>
</html>

