<div id="mypage_aside_profileImgContainer">
    <img src="/image/profile.jpg" alt="profile" id="mypage_aside_profileImg">
</div>
<h3 id="mypage_aside_username" style="color:black">{{#name}}{{name}}{{/name}}</h3>
<p style="color:black; text-align: center;">트레이너</p>
<hr style="
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;">

<div id="mypage_aside_nav">
    <ul>
        <li><a href="/trainerUpdate/{{session_username}}" style="font-size: 16px;">정보수정</a></li>
        <li><a href="/trainer/trainerControl/" style="font-size: 16px;">PT 시간관리</a></li>
        <li><a href="/trainer/ptUserInfo" style="font-size: 16px;">회원관리</a></li>
    </ul>
</div>