{{>layout/header}}
<body>
{{>layout/navi}}

    {{#ptUser}}
        <span>{{userName}}</span>
        <span>{{userId}}</span>
        <<span>{{gender}}</span>
        <<span>{{tel}}</span>
        <<span>{{ptType}}</span>
        <<span>{{ptCnt}}</span>
    {{/ptUser}}

{{>layout/footer}}
