{{>layout/header}}
<link rel="stylesheet" href="/css/trainer/trainerPage.css">
<!--<script src="javascript/trainer/reviewFilter.js"></script>-->
<script src="https://kit.fontawesome.com/05995ac069.js" crossorigin="anonymous"></script>
<body>
{{>layout/navi}}
<div id="trainer_Detail_Container">
    {{#trainer}}
    <br/>
    <h5 style="font-weight: bold; font-size: 19px;">트레이너 상세페이지</h5>
    <br>
    <div id="trainer-info">
        <img src="{{#first}} <p>{{imagePath}}</p> {{/first}}
        " alt="Trainer Image" width="270" height="270">
        <div id="trainer-table">
                <div style="background-color: #E9E1FB;
                    border-radius: 20px;
                    border: none;
                    padding: 10px;
                    width: 120px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;">
                    {{#isExpertZero}} 바디프로필 {{/isExpertZero}}
                    {{#isExpertOne}} 파워리프팅 {{/isExpertOne}}
                    {{#isExpertTwo}} 다이어트 {{/isExpertTwo}}
                    {{#isExpertThree}} 재활운동 {{/isExpertThree}}
                    {{#isExpertFour}} 자세교정 {{/isExpertFour}}
                    {{#isExpertFive}} 컨디셔닝 {{/isExpertFive}}
                </div>
            <div id="trainer_name">
                <span>{{userName}}</span> 트레이너
            </div>

            <div style="display: flex; align-items: center;">
                <p style="margin-right: 5px;"><i class="fa-sharp fa-solid fa-location-dot fa-xl" style="color: #ca7cfd;"></i></p>
                <div id="trainer_gym">
                    <span>{{gym}}</span>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div>
                    <i class="fa-brands fa-instagram fa-xl" style="margin-right: 6px"></i>
                </div>
                <div id="trainer_insta">
                    <span>{{insta}}</span>
                </div>
            </div>
        </div>
    </div> <br/>
    <hr/>
    <div id="trainerInfoList" style="margin-left: 10px">
        <h6 style="font-weight: bold; font-size: 16px;">자격증</h6>
            <div id="trainer-cert">
                <span>{{certName}}</span><br/>
                <span><img src="{{certImage}}" alt="Trainer Image" /></span>
            </div>
        <br><br/>
        <h6 style="font-weight: bold; font-size: 16px;">트레이너 자기소개</h6>
        <div id="trainer-intro">
            <span>{{introduce}}</span>
        </div>
        <br><br/>

        <h6 style="font-weight: bold; font-size: 16px;">경력 / 수상사항</h6>
            <div id="trainer-career">
                <span>{{careerContent}}</span> <br/>
            </div>
        <br><br/>
        <h6 style="font-weight: bold; font-size: 16px;">추가 사진</h6>
            <div style="display:inline-block; margin: 7px;">
                <img src="{{imagePath}}" alt="Trainer Image" width="270" height="270"/>
            </div>
        <br/>
        <hr/>
    </div>

    <h6 style="font-weight: bold; font-size: 16px;">PT 상품</h6><br/>
        <div id="pt-info">
            <span>{{ptTitle}}</span>
            <span>{{ptTimes}}회 {{ptPrice}}원</span>
            <div id="trainer_pay">
                <a id="payButton" href="/pay">결제하기</a>
            </div>
        </div>
    <br/>
    <hr>
    {{/trainer}}

    <div id="review-container">
        <h6 style="font-weight: bold; font-size: 16px;">PT 리뷰</h6>
        <br/>
        <form id="review-form">
            <div class="review-filters">
                <select id="review-filter" name="review-filter">
                    <option value="highest">별점 높은순</option>
                    <option value="lowest">별점 낮은순</option>
                    <option value="recent">최신순</option>
                </select>
            </div>
            <div class="review">
                {{#review}}
                <input class="review-idx" value="{{reviewId}}"/>
                <span>
                    <i class="fa-solid fa-star" style="color: #f3eb12;"></i>
                    {{star}}
                </span>
                    <span class="review-date" text=""></span>
                    <div class="review-content">
                        <input value="{{reviewContent}}">
                    </div>
                    <span>{{reviewCreateDate}}</span>
                        <div id="review-button">
                            <a href="/editReview" style="color: black; font-size: 12px;">수정</a>
                            <button onclick="deleteReview('{{reviewId}}')" style="font-size: 12px;">삭제</button>
                        </div>
                    <span><img src="<p>{{reviewImagePath}}</p>" alt="Review Image" width="70" height="70"></span>
                    <br/>
                {{/review}}
            </div>
        </form>
    </div>
</div>
{{>layout/footer}}