{{>layout/header}}
<link rel="stylesheet" href="/css/trainer/trainerPage.css">
<script src="https://kit.fontawesome.com/05995ac069.js" crossorigin="anonymous"></script>
<script src="/javascript/payment/kakaoPay/kakaoPay.js"></script>

<body>
{{>layout/navi}}
<div id="trainer_Detail_Container">

    <br/>
    <span class="jaksim_title_font" style="font-weight: bold; font-size: 19px;">트레이너 상세페이지</span>
    <br/><br/>
    {{#trainer}}
    <div id="trainer-info">
        <script>
        var imageList = [{{#imageList}}"{{imagePath}}",{{/imageList}}];
        var firstImage = imageList.length > 0 ? imageList[0] : '';
        var imgTag = "<img src='" + firstImage + "' alt='Trainer Image' width='270' height='270'/>";
        document.write(imgTag);
        </script>

        <div id="trainer-table">
                <span class="expert1" style="background-color: #E9E1FB;
                    border-radius: 20px;
                    border: none;
                    padding: 10px;
                    width: 120px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 20px;">{{expert1}}
                </span>
                <span class="expert2" style="background-color: #E9E1FB;
                    border-radius: 20px;
                    border: none;
                    padding: 10px;
                    width: 120px;
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 10px;">{{expert2}}
                </span><br/><br/>
            <div id="trainer_name" style="margin-bottom: 6px;">
                <span class="jaksim_font" style="margin-bottom: 30px;">{{userName}} 트레이너</span>
            </div>

            <div style="display: flex; align-items: center; margin-bottom: 6px;">
                <p style="margin-right: 5px; margin-top: 15px;"><i class="fa-sharp fa-solid fa-location-dot fa-xl" style="color: #ca7cfd;"></i></p>
                <div id="trainer_gym">
                    <span class="jaksim_font">{{gym}}</span>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div>
                    <i class="fa-brands fa-instagram fa-xl" style="margin-right: 6px; margin-top: 5px;"></i>
                </div>
                <div id="trainer_insta">
                    <span class="jaksim_font">{{insta}}</span>
                </div>
            </div>
        </div>
    </div> <br/>
    <hr/>

    <div id="trainerInfoList" style="margin-left: 10px">
        <span class="jaksim_font" style="font-weight: bold; font-size: 16px;">트레이너 자기소개</span>
        <div id="trainer-intro">
            <span class="jaksim_font">{{introduce}}</span>
        </div>
        <br><br/>
    {{/trainer}}

        <span class="jaksim_font" style="font-weight: bold; font-size: 16px;">자격증</span>
            <div id="trainer-cert">
        {{#cert}}
                <span class="jaksim_font">{{certName}}</span><br/>
                <img src="{{certImage}}" alt="Trainer Image" width="220" height="220">
                {{/cert}}
            </div>

        <br><br/>

        <span class="jaksim_font" style="font-weight: bold; font-size: 16px;">경력 / 수상사항</span>
            <div id="trainer-career">
{{#career}}
                <span class="jaksim_font">{{careerContent}}</span> <br/>
{{/career}}
            </div>
        <br><br/>
        <span class="jaksim_font" style="font-weight: bold; font-size: 16px;">추가 사진</span><br/>
            <div style="display:inline-block; margin: 7px;">
{{#imageList}}
                <img src="{{imagePath}}" alt="Trainer Image" width="270" height="270"/>
{{/imageList}}
            </div>
        <br/>
        <hr/>
    </div>

    <style>
    #pt-info {
    display: flex;
    align-items: center;
    }

    #pt-info span {
    margin-top: 0;
    margin-bottom: 0;
    }

    #pt-info .trainer_pay {
    margin-left: 350px;
    }


    </style>
    <span style="font-weight: bold; font-size: 16px;">PT 상품</span><br/>
    {{#product}}
        
            <div id="pt-info">
            <input class="ptTitle" hidden="hidden" name="ptTitle" value="{{ptTitle}}" readonly/>
            <input class="ptTimes" hidden="hidden" name="ptTimes" value="{{ptTimes}}" readonly/>
            <input class="ptPrice" hidden="hidden" name="ptPrice" value="{{ptPrice}}" readonly/>
            <input class="ptPeriod" hidden="hidden" name="ptPeriod" class="ptPeriod" value="{{ptPeriod}}"/>

            <span style="width: 155px;">{{ptTitle}}</span>
        <span style="width:101px;">{{ptTimes}}회 {{ptPrice}}원</span>

            <div class="trainer_pay" style="margin-right: 20px;">
                <button class="payButton" data-ptId="{{ptId}}">결제하기</button>
            </div>
             </div>
        
    {{/product}}
    <br/>
    <hr>
    <div id="review-container">
        <span class="jaksim_font" style="font-weight: bold; font-size: 16px;">PT 리뷰</span>
        <br/>

            <div class="review-filters">
                <select id="review-filter" name="review-filter" class="jaksim_font" onchange="reviewFiltering()">
                    <option value="highest">별점 높은순</option>
                    <option value="lowest">별점 낮은순</option>
                    <option value="recent">최신순</option>
                </select>
            </div>
            <div class="review">
                <table>
    <tbody id="review-form">
    {{#review}}
        <tr id="review-{{reviewId}}" class="jaksim_font">
            <td>작심{{reviewId}}</td>
            <td class="countStar" data-star="{{star}}">{{star}}</td>
            <td>{{reviewContent}}</td>
            <td data-date="{{reviewCreateDate}}">{{reviewCreateDate}}</td>
            <td class="reviewLink"> {{userId}}
            </td>
            <td class="delete_review_td" hidden="hidden">
                <form id="delete-review-form" action="/deleteReview" method="POST" style="margin-bottom: 0px;" onsubmit="return confirm('리뷰를 삭제하시겠습니까?');">
                    {{#trainer}}
                        <input type="hidden" name="trainerId" value="{{trainerId}}">
                        <input type="submit" class="jaksim_font" value="삭제" style="background-color:
                        transparent; border: none; text-decoration: underline; padding: 0;">
                    {{/trainer}}
                </form>
            </td>
        </tr>
    {{/review}}
    </tbody>
</table>
            </div>
    </div>
</div>



<script>

window.onload = function() {

    var currentUser = "{{session_user.username}}";
    var reviewElements = document.querySelectorAll('.reviewLink');
    var deleteReviewForm = document.querySelectorAll('.delete_review_td');

    if (currentUser) {
        

        for (var i = 0; i < reviewElements.length; i++) {
            var reviewId = reviewElements[i].textContent;
            console.log(reviewId);

            if (currentUser.trim() === reviewId.trim()) {
                reviewElements[i].textContent = '';
                currentUser.textContent = '';

                var editLink = document.createElement('a');
                editLink.href = "/editReview";
                editLink.className = "jaksim_font";
                editLink.textContent = "수정";

                deleteReviewForm[i].hidden = false;

                reviewElements[i].appendChild(editLink);
            }
            else {
                reviewElements[i].textContent = '';
                deleteReviewForm[i].hidden = true;

            }
        }
    }
    



    var stars = document.querySelectorAll('.countStar');
    var expert1 = document.querySelectorAll('.expert1');
    var expert2 = document.querySelectorAll('.expert2');

    

    for(var i=0; i<stars.length; i++) {
        var starCount = parseInt(stars[i].textContent);
        stars[i].textContent = '';

        for(var j=0; j<starCount; j++) {
            var starIcon = document.createElement('i');
            starIcon.className = 'fa-solid fa-star';
            starIcon.style.color = '#f3eb12';
            stars[i].appendChild(starIcon);
        }
        
    }
    

    for(var i=0; i<expert1.length; i++) {
        var experts = parseInt(expert1[i].textContent);
        var experts2 = parseInt(expert2[i].textContent);

        if(experts == 0) {
            expert1[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#바디프로필';
            expert1[i].appendChild(exText);
        }
        else if(experts == 1) {
            expert1[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#파워리프팅';
            expert1[i].appendChild(exText);
        }
        else if(experts == 2) {
            expert1[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#다이어트';
            expert1[i].appendChild(exText);
        }
        else if(experts == 3) {
            expert1[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#재활운동';
            expert1[i].appendChild(exText);
        }
        else if(experts == 4) {
            expert1[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#자세교정';
            expert1[i].appendChild(exText);
        }
        else if(experts == 5) {
            expert1[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#컨디셔닝';
            expert1[i].appendChild(exText);
        }


        if(experts2 == 0) {
            expert2[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#바디프로필';
            expert2[i].appendChild(exText);
        }
        else if(experts2 == 1) {
            expert2[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#파워리프팅';
            expert2[i].appendChild(exText);
        }
        else if(experts2 == 2) {
            expert2[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#다이어트';
            expert2[i].appendChild(exText);
        }
        else if(experts2 == 3) {
            expert2[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#재활운동';
            expert2[i].appendChild(exText);
        }
        else if(experts2 == 4) {
            expert2[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#자세교정';
            expert2[i].appendChild(exText);
        }
        else if(experts2 == 5) {
            expert2[i].textContent = '';
            var exText = document.createElement('span');
            exText.className = 'expert';
            exText.textContent = '#컨디셔닝';
            expert2[i].appendChild(exText);
        }
    
    }

}


  // 리뷰 필터링 함수
  function reviewFiltering() {
    // 선택한 필터링 옵션 가져오기
    var filterOption = document.getElementById("review-filter").value;
    var reviewList = document.getElementsByClassName("review")[0];

    // 리뷰 목록을 가져와서 배열로 변환합니다
    var reviewItems = Array.from(reviewList.getElementsByTagName("tr"));

    // 필터링 옵션에 따라 리뷰 목록을 정렬합니다
    switch (filterOption) {
      case "highest":
        reviewItems.sort(function(a, b) {
          var starA = parseInt(a.getElementsByTagName("td")[1].dataset.star, 10);
          var starB = parseInt(b.getElementsByTagName("td")[1].dataset.star, 10);
          return starB - starA;
        });
        break;
      case "lowest":
        reviewItems.sort(function(a, b) {
          var starA = parseInt(a.getElementsByTagName("td")[1].dataset.star, 10);
          var starB = parseInt(b.getElementsByTagName("td")[1].dataset.star, 10);
          return starA - starB;
        });
        break;
      case "recent":
        reviewItems.sort(function(a, b) {
          var dateA = new Date(a.getElementsByTagName("td")[3].textContent);
          var dateB = new Date(b.getElementsByTagName("td")[3].textContent);
          return dateB - dateA;
        });
        break;
    }

    // 정렬된 리뷰 목록을 다시 추가합니다
    for (var i = 0; i < reviewItems.length; i++) {
      reviewList.appendChild(reviewItems[i]);
    }
  }

  //tpIdx, ptTitle, ptPrice, pt_times, pt_period
  //product인덱스, 제목, 가격, 횟수, 유효기간

var payButtons = document.querySelectorAll('.payButton');

payButtons.forEach(function(button) {
  button.addEventListener('click', function() {
    var ptInfo = this.parentNode.parentNode;
    var tpIdx = parseInt(this.getAttribute('data-ptId'));
    var ptTitle = ptInfo.querySelector('.ptTitle').value;
    var ptPrice = parseInt(ptInfo.querySelector('.ptPrice').value);
    var ptTimes = parseInt(ptInfo.querySelector('.ptTimes').value);
    var ptPeriod = parseInt(ptInfo.querySelector('.ptPeriod').value);

    kakaoPay(ptTitle, tpIdx, ptPrice, ptTimes, ptPeriod);
  });
});

</script>
{{>layout/footer}}
