{{>layout/header}}
<link rel="stylesheet" href="/css/trainer/trainerRegister.css">
<link rel="stylesheet" href="/css/trainer/trainerSearch.css">
<script src="https://kit.fontawesome.com/05995ac069.js" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<body>

{{>layout/navi}}
<div style="width: 100%;">
<div id="trainer_create_container">
    <span class="jaksim_title_font" style="font-size: 20px; color: black;">트레이너 등록하기</span>
    <form id="trainerForm" action="/trainerRegister" method="POST" enctype="multipart/form-data">
        <div class="input_container">
            <span class="input_span">인스타 링크</span>
            <input class="input_input" type="text" name="insta">
        </div>
        <div class="input_container">
                <span class="input_span">자기소개</span>
            <textarea name="introduce"  id="trainer_create_introduce" cols="30" rows="10" required></textarea>
        </div>
        <div class="input_container">
            <span class="input_span">소속 헬스장</span>
            <input class="input_input" type="text" name="gym" required>
        </div>
        <div class="input_container">
                <a onclick="road()" style="cursor: pointer;"><i class="fas fa-sharp fa-solid fa-location-dot fa-xl" style="color: #ca7cfd;" id="location"></i>
                <input readonly type="text" name="address" placeholder="헬스장 주소를 입력하세요" id="input-address" style="pointer-events: none; width: 350px; border: white; border-radius: 5px; "/></a>
                <br>
        </div>
            <span style="font-weight:bold" >프로필 사진 등록</span><br>
            <span style="font-size: 12px;">프로필 사진을 등록해주세요</span><br>
            <input accept="image/*" type="file" name="profileImage1" required onchange="previewImage(event)" />
            <img id="preview-image" src="" alt="미리보기">
        <br>
        <span style="font-weight:bold">전문분야</span>
            <span style="font-size: 12px;">2개를 선택해주세요</span><br>
        <select name="expert1" class="input_select" style="margin-left: 0px;">
            <option value="0" selected>바디프로필</option>
            <option value="1">파워리프팅</option>
            <option value="2">다이어트</option>
            <option value="3">재활운동</option>
            <option value="4">자세교정</option>
            <option value="5">컨디셔닝</option>
        </select>
        <select name="expert2" class="input_select" style="margin-left: 10px;">
            <option value="0">바디프로필</option>
            <option value="1" selected>파워리프팅</option>
            <option value="2">다이어트</option>
            <option value="3">재활운동</option>
            <option value="4">자세교정</option>
            <option value="5">컨디셔닝</option>
        </select>

        <div class="input_container">
            <span class="input_span">자격증</span>
            <input class="input_input" type="text" name="certNameInput" id="certName">
            <button type="button" id="add-cert" class="btn btn-outline-secondary">자격증 추가</button><br/>

            <div id="create_cert_div"></div>
        </div>

        <div class="input_container">
            
            <span class="input_span">경력사항</span>
            <input class="input_input" type="text" name="careerContentInput" id="careerContent">
            <button type="button" id="add-career" class="btn btn-outline-secondary">경력사항 추가</button>
            <div id="create_career_div"></div>
        </div>
        <div class="input_container">
        <span style="font-weight:bold">PT 상품</span>
        <br>
            <div>
                <input type="radio" name="ptType1" value="1" id="ptType" class="create_toggle">
                <label for="personal" >개인</label>
                <input type="radio" name="ptType1" value="2" id="ptType" class="create_toggle">
                <label for="organ">단체</label>
            </div>
            <span class="input_span">횟수</span>
            <input class="input_input" type="number" name="ptTimes1" id="ptTimes" placeholder="횟수를 입력해주세요" style="margin-bottom:5px;">
            <br>
            <span class="input_span">PT 제목</span>
            <input class="input_input" type="text" name="ptTitle1" id="ptTitle" placeholder="제목을 입력하세요" style="margin-bottom:5px;">
            <br>
            <span class="input_span">가격</span>
            <input class="input_input" type="text" maxlength="10" name="ptPrice1" id="ptPrice" placeholder="금액을 입력하세요" onkeyup="inputNumberFormat(this);" style="margin-bottom:5px;">
            <br>

            <span class="input_span">유효기간</span>
            <input class="input_input" type="number" name="ptPeriod1" id="ptPeriod" placeholder="유효기간을 입력하세요(일단위)" style="margin-bottom:5px;">
            <button type="button" id="add-pt" class="btn btn-outline-secondary">등록</button>
            <div id="create_pt_div">

            </div>
        </div>

        <div class="input_class">
            <span style="font-weight:bold">추가 이미지 등록</span><br>
            <span style="font-size: 12px;">자격증, 헬스장 사진 등을 등록해주세요</span><br>
            <input accept="image/*" type="file" name="imagePath1" required onchange="previewImage2(event)" multiple/>
            <div id="image-preview-container"></div>
        </div>
        <br>
        <input type="submit" value="트레이너 등록" class="jaksim_btn"
        style="padding-left: 10px; padding-right: 10px; padding-bottom: 6px; padding-top: 6px;" 
        onclick="return confirm('트레이너 등록을 진행하시겠습니까?');">
    </form>
</div>
</div>

{{>layout/footer}}

<script>

// 이미지 미리보기
function previewImage(event) {
    var input = event.target;
    var reader = new FileReader();

    reader.onload = function(){
        var preview = document.getElementById('preview-image');
        preview.src = reader.result;
        preview.style.display = 'block';
    };

    reader.readAsDataURL(input.files[0]);
}

function previewImage2(event) {
    var input = event.target;
    var previewContainer = document.getElementById('image-preview-container');
    previewContainer.innerHTML = ''; // 기존의 미리보기 이미지를 모두 지웁니다.

    for (var i = 0; i < input.files.length; i++) {
        var reader = new FileReader();

        reader.onload = function (e) {
            var previewImage = document.createElement('img');
            previewImage.src = e.target.result;
            previewImage.style.maxWidth = '500px';
            previewImage.style.maxHeight = '500px';
            previewContainer.appendChild(previewImage);
        };

        reader.readAsDataURL(input.files[i]);
    }
}

// price 표시
function inputNumberFormat(obj) {
    obj.value = comma(uncomma(obj.value));
}

function comma(str) {
    str = String(str);
    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
}

function uncomma(str) {
    str = String(str);
    return str.replace(/[^\d]+/g, '');
}


// 주소찾기 모달창
function road() {
    const popup = window.open("/address-search2","Popup", "width=800, height=700");

    popup.onbeforeunload = function(data) {
      console.log(data)
      console.log("데이터 체크")
    }

    // 팝업창에 데이터 쓰기
    popup.document.write(data);
}

// 자격증, 경력, PT 추가 버튼
var certClicked = false;
var careerClicked = false;
var ptClicked = false;

    document.getElementById('add-cert').onclick = function(){
    var certInput = document.getElementById('certName');
    var create_cert_div = document.getElementById('create_cert_div');
    var cert_span = document.createElement('input');

    if(certInput.value){
        cert_span.value = certInput.value; 
        cert_span.setAttribute('class', 'jaksim_btn');
        cert_span.setAttribute('name', 'certName');
        cert_span.style.margin = '3px';

        create_cert_div.appendChild(cert_span);
        certInput.value = '';
    }

    certClicked = true;
}


        document.getElementById('add-career').onclick = function(){
            var careerInput = document.getElementById('careerContent');
            var create_career_div = document.getElementById('create_career_div');
            var career_span = document.createElement('input');

            if(careerInput.value){
                career_span.value = careerInput.value;
                career_span.setAttribute('class', 'jaksim_btn');
                career_span.setAttribute('name', 'careerContent');
                career_span.style.margin = '3px';

                create_career_div.appendChild(career_span);
                careerInput.value = '';
            }

            careerClicked = true;
        }


  
    document.getElementById('add-pt').onclick = function () {
        var type = document.querySelector('input[id="ptType"]:checked');
        var times = document.getElementById('ptTimes');
        var title = document.getElementById('ptTitle');
        var price = document.getElementById('ptPrice');
        var period = document.getElementById('ptPeriod');

        var create_pt_div = document.getElementById('create_pt_div');

        if (type.value && times.value && title.value && price.value && period.value) {
            var pt_container = document.createElement('div');
            pt_container.className = 'pt-container';

            let displayText = '';
            if (parseInt(type.value) === 0)
                displayText += '개인';
            else
                displayText += '단체';


            var formattedPrice = removeCommas(price.value);
            
            pt_container.innerHTML = `
                <span>PT 상품</span><br>
                <input value="${type.value}" name="ptType" hidden="hidden" type="number"/>
                <input value="${times.value}" name="ptTimes" hidden="hidden"  type="number"/>
                <input value="${title.value}" name="ptTitle" hidden="hidden" type="text" />
                <input value="${formattedPrice}" name="ptPrice" hidden="hidden"  type="number" />
                <input value="${period.value}" name="ptPeriod" hidden="hidden"  type="number"/>
                <span>`+ displayText + ` ${times.value}회 ${title.value} ${price.value}원 ${period.value}일</span>`
             ;

            create_pt_div.appendChild(pt_container);
            console.log(pt_container);

            times.value = '';
            title.value = '';
            price.value = '';
            type.value = '';
            period.value = '';
        }
        ptClicked = true;
    }

    function removeCommas(str) {
    return str.replace(/,/g, '');
    }

    
 // 제출 전 확인
 document.getElementById('trainerForm').onsubmit = function() {
    // Check if all buttons have been clicked
    if (!certClicked) {
        alert("자격증 추가 버튼을 눌러주세요.");
        return false;
    }
    if (!careerClicked) {
        alert("경력사항 추가 버튼을 눌러주세요.");
        return false;
    }
    if (!ptClicked) {
        alert("PT 등록 버튼을 눌러주세요.");
        return false;
    }

    // 주소 값 입력 확인
    var addressInput = document.getElementById('input-address');
    if (addressInput.value.trim() === '') {
        alert("주소를 입력하세요.");
        return false; // Prevent form submission
    }

    // 전문분야 입력 확인
    var expert1 = document.querySelector('select[name="expert1"]').value;
    var expert2 = document.querySelector('select[name="expert2"]').value;

    if (expert1 === expert2) {
        alert("전문분야는 서로 다른 값을 선택해야 합니다.");
        return false; // Prevent form submission
    }

    return true; // Allow form submission
};

</script>


