{{>layout/header}}
    <link rel="stylesheet" href="/css/find/findStyle.css">
    <script src="/javascript/find/findId_2.js"></script>
</head>

<body>
{{>layout/navi}}

    <div class="container">
        <h1>Cert</h1>
        <input type="text" id="find_validate_input">
        <button id="validate_button">인증</button>
        <span id="find_validate_time">-- : --</span>
    </div>

{{>layout/footer}}
