{{>layout/header}}
    <link rel="stylesheet" href="/css/account/accountStyle.css">
    <script src="/javascript/account/account_fin.js"></script>
</head>

<body>
{{>layout/navi}}

<div class="container">
    <h1 class="account_banner">여기다가 로고라도\n붙여주셈22</h1>
    <div class="account_container">
        <h3>회원가입이 완료되었습니다.</h3>
        <h5>완료버튼을 눌러주세요!</h5>

        <div style="width:100%" id="account_fin_container">
            <button id="account_fin_button" class="account_button" style="margin: 1rem auto;">완료하기</button>
        </div>
    </div>
</div>

{{>layout/footer}}