{{>layout/header}}
<script src="javascript/account/account.js"></script>
<link rel="stylesheet" href="css/account/accountStyle.css">
</head>
<body>
{{>layout/navi}}
<div class="container">
    <h1>회원가입</h1>
    <hr>
    <div class="input_container">
        <span for="account_id" class="account_span">아이디</span>
        <input type="text" id="account_id" class="account_input">
        <button type="button" id="account_checkId" class="account_button">아이디 확인</button>
        <br><span id="account_confirm_id"></span>
    </div>

    <div class="input_container">
        <span class="account_span">비밀번호</span>
        <input type="password" id="account_pw" class="account_input" placeholder="pw">
    </div>
    <div class="input_container">
        <span class="account_span">확인</span>
        <input type="password" id="account_confirm" class="account_input" placeholder="비밀번호 확인">
        <button type="button" id="account_checkPw" class="account_button">비밀번호 확인</button>
        <br><span id="account_confirm_pw"></span>
    </div>

    <div class="input_container">
        <span class="account_span">성명</span>
        <input type="text" id="account_name" class="account_input" placeholder="name">
    </div>

    <div class="input_container">
        <span class="account_span">성별</span>
        <input type="radio" name=account_gender" id="account_gender" class="account_input" value="1">남
        <input type="radio" name=account_gender" id="account_gender" class="account_input" value="2">여
    </div>
    <div class="input_container">
        <span class="account_span">전화번호</span>
        <input type="text" id="account_tel" class="account_input" placeholder="tel">
        <button type="button" id="account_checkTel" class="account_button">전화번호 확인</button>
        <br><span id="account_confirm_tel"></span>
    </div>

    <div class="input_container">

        <select id="account_question">
            <option value="1">태어난 고향</option>
            <option value="2">세은 멍청이</option>
            <option value="3">세은 바보</option>
            <option value="4">세은 띨띨이</option>
        </select>
    </div>
    <div class="input_container">
        <span class="account_span">답변</span>
        <input type="text" id="account_answer" class="account_input" placeholder="answer">
    </div>

    <div class="input_container">
        <span class="account_span">생년월일</span>
        <input type="date" id="account_birth" class="account_input" placeholder="birth">
    </div>
    <input type="hidden" id="account_role" class="account_input" value="1">
    <div class="input_container">
        <button id="myButton" class="account_button">가입하기</button>
    </div>
</div>

{{>layout/footer}}