{{>layout/header}}
    <link rel="stylesheet" href="/css/account/accountStyle.css">
    <script src="/javascript/account/account_2.js"></script>
</head>

<body>
{{>layout/navi}}

<div class="container">
    <h1 class="account_banner">여기다가 로고라도\n붙여주셈22</h1>

    <div class="account_container">
        <div>
            <span class="account_span">이름</span>
        </div>
        <div class="input_container">
            <input type="text" class="account_input" id="account_name" placeholder="이름을 입력해주세요">
        </div>

        <div>
            <span class="account_span">생년월일</span>
        </div>
        <div class="input_container">
            <input type="date" class="account_input" id="account_birth">
        </div>

        <div>
            <span class="account_span">성별</span>
        </div>
        <div class="input_container">
            <label><input type="radio" name="account_gender" id="account_gender_male" value="1">남</label>
            <label><input type="radio" name="account_gender" id="account_gender_female" value="2">여</label>
        </div>

    </div>

    <a href="/account/1" class="btn btn-secondary">이전</a>
    <button id="account_2_next" class="btn btn-primary">확인</button>
<!--    <a href="/account/3" class="btn btn-primary" id="account_2_next">이동</a>-->
</div>

{{>layout/footer}}