{{>layout/header}}
<link rel="stylesheet" href="/css/account/accountStyle.css">
<script src="/javascript/account/account_4.js"></script>
</head>

<body>
{{>layout/navi}}

<div class="container">
    <h1>account4</h1>
</div>

{{>layout/footer}}