{{>layout/header}}
    <script src="/javascript/account/login.js"></script>
    <link rel="stylesheet" href="/css/account/loginStyle.css">
    <link rel="stylesheet" href="/css/account/accountStyle.css">
<body>
{{>layout/navi}}

    <div class="container">
        <form action="/login/action" method="post">
            <div class="account_input_container">
                <input type="text" name="username" id="user_id" class="account_input" placeholder="USER ID">
            </div>
            <div class="account_input_container">
                <input type="password" name="password" id="user_pw" class="account_input" placeholder="USER PW">
            </div>
            <div class="account_input_container">
                <span id="login_failure_span" style="margin:3px;"></span>
            </div>
            <button class="jaksim_btn" type="submit" id="loginButton" style="margin:3px;">로그인</button>
        </form>
        <a href="/find/userid">아이디</a> <span> / </span>
        <a href="/find/userpw">비밀번호</a>
        <span>찾기</span>
    </div>

{{>layout/footer}}

