{{>layout/header}}
    <script src="/javascript/scheduleList/root.js"></script>
    <script src="/javascript/scheduleList/scheduler.js"></script>
    <script src="/javascript/trainer/trainerBrief.js"></script>
    <script src="/javascript/product/ptList.js"></script>
    <script src="/javascript/reservation/reservation.js"></script>
    <script src="/javascript/timetable/timetable.js"></script>
<!--    <script src="/javascript/scheduleList/selectBoxCustom.js"></script>-->
    <link rel="stylesheet" href="/css/scheduleList/scheduleListStyle.css">
    <link rel="stylesheet" href="/css/scheduleList/ptListStyle.css">
<!--    <link rel="stylesheet" href="/css/scheduleList/selectBoxCustom.css">-->
    <link rel="stylesheet" href="/css/scheduleList/trainerDetailsStyle.css">
    <link rel="stylesheet" href="/css/scheduleList/timetableStyle.css">
</head>
<body>
{{>layout/navi}}
<div class="container">
<!--    <div id="trainer-list">-->
<!--        <button class="selected">남유정</button>-->
<!--        <ul class="optionList">-->
<!--            <li class="optionItem">구세은</li>-->
<!--            <li class="optionItem">남유정</li>-->
<!--            <li class="optionItem">장효림</li>-->
<!--        </ul>-->
<!--    </div>-->
    <div id="select-pt">
        <span id="pt_cnt">
        </span>
        <select name="ptList" id="trainer_list" ="selectbox">
        </select>
    </div>
    <div id="scheduler">
        <table class="Calendar">
            <thead>
                <tr>
                    <td id ="calbutton" onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                    <td colspan="5">
                        <span id="calYear"></span>년
                        <span id="calMonth"></span>월
                    </td>
                    <td id ="calbutton" onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                </tr>

                <tr colspan="15">
                    <td id="sun">일</td>
                    <td>월</td>
                    <td>화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                    <td id="sat">토</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="trainer2">
        <div id="trainer-details" method="get" action="/ScheduleList/trainer">
            <h6 id="title"><b/>트레이너 상세 정보</h6>
            <br>
            <input class="trainer-info" type="image" src="/image/trainerNam.jpg" >
            <div id="trainerDetail">
                <span id="trainerName"></span>
                <br>

                <b>아이디 : </b>
                <span id="trainerId"></span>
                <br>

                <b>성별 : </b>
                <span id="gender"></span>
                <br>

                <b>헬스장 : </b>
                <span id="gym"></span>
                <br>

                <b>전문 분야 : </b>
                <span id="expert"></span>
                <br>

                <b>소개 : </b>
                <span id="intro"></span>
                <br>

                <a href="" id="insta"><img src="/image/instaImg.png" alt="instaLink"></a>
            </div>
        </div>
    </div>
    <div id="timetable">
        <div id="timetableDetail">

            <p id="title">예약시간</p>

            <span class="timetable_span"><input type="radio" name="time" value="time_1" disabled> 09:00 - 10:00 (3/3)</span>
            <span class="timetable_span"><input type="radio" name="time" value="time_2"> 10:00 - 11:00 (2/3)</span>
            <span class="timetable_span"><input type="radio" name="time" value="time_3"> 11:00 - 12:00 (2/3)</span>
            <span class="timetable_span"><input type="radio" name="time" value="time_4"> 02:00 - 03:00 (1/3)</span>
            <span class="timetable_span"><input type="radio" name="time" value="time_5" disabled> 03:00 - 04:00 (3/3)</span>
            <span class="timetable_span"><input type="radio" name="time" value="time_6" disabled> 04:00 - 05:00 (3/3)</span>
            <div style="width: 100%;display: flex; justify-content: flex-end;">
                <button id="reservationBtn" type="button" >예약하기</button>
            </div>
        </div>
        <div id="timetable_date_wrapper">
            <div id="reservation_date"></div>
                <div id="timetable_user_inlist">
                    <span id="reservation_list"></span>
                    <button id="resCancle">예약 취소</button>
                </div>
        </div>
    </div>
</div>
{{>layout/footer}}