{{>layout/header}}
    <link rel="stylesheet" href="/css/mypage/mypageStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>

    <script src="/javascript/inbody/body_info.js"></script>
</head>

<body>
{{>layout/navi}}
<div class="mypage_container">
    <aside>
        {{>content/mypage/aside/main_aside}}
    </aside>
    <section>
        <div class="mypage_container">
            <h1>Inbody</h1>
            <select name="inbody_selector" id="inbody_selector">
                <option value="weight">체중</option>
                <option value="score">총 점수</option>
                <option value="fat">체지방율</option>
                <option value="muscle">골격근</option>
            </select>

            <div>
                <canvas id="inbodyChart"></canvas>
            </div>
            <span style="display:none" id="inbody_totalPage">{{totalPage}}</span>
            <table style="width: 100%; text-align:center;" id="inbody_datatable">
                <thead>
                    <th>체중</th>
                    <th>인바디 점수</th>
                    <th>체지방율</th>
                    <th>골격근량</th>
                    <th>작성 일자</th>
                </thead>
                <tbody id="table_tbody">

                </tbody>
            </table>
            <div>
                <button id="inbody_prevbutton"><-</button>
                <span id="inbody_pagenumber">1</span>
                <button id="inbody_nextbutton">-></button>
            </div>
        </div>
    </section>
</div>


{{>layout/footer}}