{{>layout/header}}
    <link rel="stylesheet" href="/css/mypage/mypageStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="/javascript/inbody/weight.js"></script>
</head>

<body>
{{>layout/navi}}
<div class="mypage_container">
    <aside>
        {{>content/mypage/aside/main_aside}}
    </aside>
    <section>
        <div class="mypage_container">
            <h1>weight</h1>
            <select name="inbody_selector" id="inbody_selector">
                <option value="weight">체중</option>
                <option value="score">총 점수</option>
                <option value="fat">체지방율</option>
                <option value="muscle">골격근</option>
            </select>

            <div>
                <canvas id="inbodyChart"></canvas>
            </div>

        </div>
    </section>
</div>


{{>layout/footer}}