{{>layout/header}}
    <link rel="stylesheet" href="/css/mypage/mypageStyle.css">
</head>

<body>
{{>layout/navi}}
<div class="mypage_container">
    <aside>
        {{>content/mypage/aside/main_aside}}
    </aside>
    <section>

    </section>
</div>


{{>layout/footer}}