{{>layout/header}}
<link rel="stylesheet" href="/css/trainer/editReview.css">
<body>
{{>layout/navi}}
<div>
    <h3 class="jaksim_title_font" style="position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 50px;">리뷰 수정</h3>
</div>
<form id="review-form" action="/editMyReview" method="POST">
        <div class="review-star">
            <label for="review-star">별점</label>
            <select class="star_select" id="star" name="star" value="{{#review}}{{star}}{{/review}}" style="margin-left: 10px;">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="review-content" style="
        margin-bottom: 15px; margin-top: 15px;">
            <label for="review-content">내용</label><br/>
            <input type="text" id="reviewContent" name="reviewContent" value="{{#review}}{{reviewContent}}{{/review}}" style="
        width: 701px;height: 306px;border: 1px solid gray;border-radius: 10px;margin-top: 10px;padding-left: 10px;
        "/>
            <br/>
        </div>
    <input type="submit" id="review-edit-button" value="저장">
    <button type="button" id="review-cancel-button" onclick="goBack()">취소</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</form>

{{>layout/footer}}

<script>
window.onload = function() {
    // expert1 값에 따라 option 선택
var starValue = "{{#review}}{{star}}{{/review}}";
var starSelect = document.getElementsByName("star")[0];

// option value에 해당하는 인덱스를 찾아 선택
for (var i = 0; i < starSelect.options.length; i++) {
    if (starSelect.options[i].value === starValue) {
        starSelect.selectedIndex = i;
        break;
    }
}

}

</script>