<div id="mypage_aside_profileImgContainer">
    <a href="/mypage/{{session_username}}/profile">
        <img src="/image/profile.jpg" alt="profile" id="mypage_aside_profileImg">
        <button onclick="window.location.href=''">+</button>
    </a>
</div>
<h3 id="mypage_aside_username" class="jaksim_font">{{session_username}}</h3>
<h6 id="mypage_aside_email" class="jaksim_font">{{user_info.email}}</h6>


{{#log}}
    <div id="mypage_aside_banner" onclick="location.href='/mypage/{{session_username}}/history/login'" style="cursor:pointer">
        <span id="mypage_aside_loginspan">[최근 로그인] {{log.dt}}</span>
    </div>
{{/log}}
{{^log}}
    <div id="mypage_aside_banner" onclick="location.href='/mypage/{{session_username}}/history'" style="cursor:pointer">
        <span id="mypage_aside_loginspan">프로필을 더 멋지게 만들어보세요!</span>
    </div>
{{/log}}

<div id="mypage_aside_nav">
    <ul>
        <li><a href="/mypage/{{session_username}}/profile" class="jaksim_font">내프로필</a></li>
        <li><a href="/mypage/{{session_username}}/history" class="jaksim_font">이력관리</a></li>
        <li><a href="/mypage/{{session_username}}/security" class="jaksim_font">보안관리</a></li>
    </ul>
</div>