@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

#select-pt {
    height: 50px;
    padding: 15px;

    /*font-family: 'Questrial', sans-serif;*/
    font-size: 15px;
    font-weight: bold;
    color: rgba(116, 116, 116, 1);
}

#pt_cnt {
    margin: 15px;
}

#trainer_list {

    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgba(116, 116, 116, 1);
    float: right;
    padding: 5px;
    marign: 10px;
}

#intro {
    width: 250px;
    display: inline-block;
}