@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

#select-pt {
    height: 28px;
    margin: 15px;

    font-size: 15px;
    font-weight: bold;
    color: rgba(116, 116, 116, 1);
}

#pt_cnt {
    margin: 15px;
}

#trainer_list {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgba(116, 116, 116, 1);
    float: right;
    padding: 5px;
    marign: 10px;
}

#intro {
    width: 250px;
    display: inline-block;
}