#trainer-list * { box-sizing: border-box; }
#trainer-list {
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid lightcoral;
    background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 7px) center no-repeat;
    background-size: 20px;
    cursor: pointer;
}

#trainer-list:after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
    background: lightcoral;
}

#trainer-list .selected {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
}

#trainer-list .optionList {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    background: lightcoral;
    color: #fff;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

#trainer-list.active .optionList {
    max-height: 500px;
}

#trainer-list .optionItem {
    border-bottom: 1px dashed rgb(170, 72, 72);
    padding: 5px 15px 5px;
    transition: .1s;
}

#trainer-list .optionItem:hover {
    background: rgb(175, 93, 93);
}

#trainer-list .optionItem:last-child {
    border-bottom: 0 none;
}

/*// 스크롤 커스텀*/
#trainer-list .optionList::-webkit-scrollbar {width: 6px;}
#trainer-list .optionList::-webkit-scrollbar-track {background: transparent; }
#trainer-list .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
#trainer-list .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}